header {
	padding: 80px;
	/* some padding */
	text-align: center;
	/* center the text */
	background: #7B68EE;
	/* green background */
	color: white;
	/* white text color */
}

/* Increase the font size of the <h1> element */
header h1 {
	font-size: 40px;
}

/* Style the top navigation bar */
.menu {
	overflow: hidden;
	/* Hide overflow */
	background-color: #333;
	/* Dark background color */
}

/* Style the navigation bar links */
.menu a {
	float: left;
	/* Make sure that the links stay side-by-side */
	display: block;
	/* Change the display to block, for responsive reasons (see below) */
	color: white;
	/* White text color */
	text-align: center;
	/* Center the text */
	padding: 14px 20px;
	/* Add some padding */
	text-decoration: none;
	/* Remove underline */
}


/* Right-aligned link */
.menu a.right {
	float: right;
	/* Float a link to the right */
}

/* Change color on hover/mouse-over */
.menu a:hover {
	background-color: #ddd;
	/* Grey background color */
	color: black;
	/* Black text color */
}

/* Column container */
.row {
	display: flex;
	flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
	flex: 30%;
	/* Set the width of the sidebar */
	background-color: #f1f1f1;
	/* Grey background color */
	padding: 20px;
	/* Some padding */
}

/* Main column */
.main {
	flex: 70%;
	/* Set the width of the main content */
	background-color: white;
	/* White background color */
	padding: 20px;
	/* Some padding */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.nav a {
		float: none;
		width: 100%;
	}
}

.disabled {
	background-color: #ddd;
	/* Grey background color */
     pointer-events: none;
}



footer {
	padding: 20px;
	/* Some padding */
	text-align: center;
	/* Center text*/
	background: #ddd;
	/* Grey background */
}

body {
	font-family: Arial, Helvetica, sans-serif;
}